<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
<div class="container-fluid">
<h1>Create Genre Page</h1>
<form name="genre" th:action="@{/addGenre}" method="post">
    <div class="form-group">
        <label for="name1"><b>Name</b></label>
        <input type="text" class="form-control" name="name" id="name1"  placeholder="Enter Ganre Name">
    </div>
    <button type="submit" class="btn btn-primary">Save Genre</button>&nbsp;
    <a href="/genres"><input type="button" class="btn btn-success" value="Beck on Genres List Page"/></a>
</form>

</div>
</body>
</html>