<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<div class="container">
    <h1>Defaul Page</h1>
    <a href="/genres">Genres Page</a>
    <br>
    <a href="/publishies">Publishies Page</a>
    <br>
    <a href="/genres">Users Page</a>
    <br>
</div>
</body>
</html>